@model IEnumerable<CarSystem_TSP_Project.Models.Payment>
<!DOCTYPE html>
<head>
    <script src="https://kit.fontawesome.com/4b4c808239.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />
</head>

<body>
@{
    ViewData["Title"] = "Payments";
}

<div class="wrapper">

        <h1>Payments in the system</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th class="btn-align-end">
                        <div class="btn-wrapper">
                           <div class="btn-wrapper">
                                <a asp-action="AddOrEdit" class="btn e-button btn-sm btn-success"><span class="e-button-text">
                                <i class="fa-solid fa-plus" style="padding-right:10px;"></i>New</span></a>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td class="btn-align-end">
                       <div class="btn-group btn-group-sm expand_button">

                            <a asp-action="AddOrEdit" asp-route-id="@item.PaymentId" class="btn e-button btn-sm btn-warning"><span class="e-button-text">
                                <i class="fa-solid fa-pen-to-square" style="padding-right:5px;"></i>Edit</span></a>
             
                            <a asp-action="Delete" asp-route-id="@item.PaymentId" class="btn e-button btn-sm btn-danger"><span class="e-button-text">
                                <i class="far fa-trash-alt" style="padding-right:7px;"></i>Delete</span></a>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>
</div>
</body>