<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: 600;">Welcome to VAM Car Services!</h1>
    <p>If you want access to the full extend of features this site provides, please Login.</p>
</div>
