body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #D3D7D9;
}

.wrapper {
    background-color: #9DA6AA;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper h1{
    text-align: center;
}

.btn-align-end {
    width: 120px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #9DA6AA;
}

tr:nth-child(odd) {
    background-color: #E4E6E7;
}

.expand_button {
    position: absolute;
}

.e-button {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    float: left;
    overflow: hidden;
    max-width: 30px;
    -webkit-transition: max-width 0.3s ease-in-out;
    -moz-transition: max-width 0.3s ease-in-out;
    -o-transition: max-width 0.3s ease-in-out;
    transition: max-width 0.3s linear
}

.e-button-text {
    display: inline-block;
    white-space: nowrap;
}

.e-button:hover {
    max-width: 280px
}

.btn-wrapper {
    text-align: left;
}

#car-wrapper {
    width: 160%;
    margin-left: -220px;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.cont {
    display: block;
    background: #F5F5F5;
    padding: 50px 50px 30px;
    margin-bottom: 100px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input, select {
    background: transparent;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 350px;
    border: none;
    border-bottom: 1px solid #9DA6AA;
    color: #4C5457;
    font-weight: 600;
}

    input:focus {
        outline: none;
        color: #0A090C;
    }

.bar {
    position: relative;
    display: block;
    width: 350px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #343C45;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after, select:focus ~ .bar:before, select:focus ~ .bar:after {
    width: 50%;
}

.button-submit {
    background-color: #9AC596;
    color: #F5F5F5;
    font-weight: 600;
}

.button-view {
    background-color: #4C5457;
    color: #F5F5F5;
    font-weight: 600;
}

label {
    font-size: 16px;
    color: #0A090C;
    font-weight: 500;
}