html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #D3D7D9;
}

.home-page {
    background-image: url(images/classic-cars.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #F5F5F5;
}

.navbar-custom {
    background-color: #343C45;
    font: 120% system-ui;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-item a {
    color: #F5F5F5;
}

.nav-item a {
    width: 110px;
    text-align: center;
}

.nav-item a:hover {
    background-color: #D3D7D9;
    font-weight: bold;
    color: #343C45;
}

#logout-btn {
    color: #F5F5F5;
    font-size: 18px;
}

#login-name {
    padding-top: 12px;
    font-size: 18px;
    color: #F5F5F5;
}

.cont{
    display: block;
    background: #F5F5F5;
    padding: 50px 50px 30px;
    margin-bottom: 100px;
    min-width: 500px;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

h1, h2{
    text-align: center;
}

.input-style {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
}