@model CarSystem_TSP_Project.Models.Owner
<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Owners";
}


<div class="row">
    <div class="col-md-6 col-centered cont">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <input type="hidden" asp-for="OwnerId"/>
            <div class="group">
                <input type="text" asp-for="Name" placeholder=" "/>
                <span class="bar"></span>
                <label asp-for="Name">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           <div class="row mt-3">
                <div class="col-md-6">
                    <div class="form-group">
                    <input type="submit" value="Submit" class="btn button-submit w-100"/>
                     </div>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn button-view w-100">View All</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
