@model CarSystem_TSP_Project.Models.Service
<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Services";
}


<div class="row">
    <div class="col-md-6 col-centered cont">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ServiceId"/>
            <div class="group">
                <input asp-for="Name" type="text" placeholder=" "/>
                <span class="bar"></span>
                <label asp-for="Name">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Type" type="text" placeholder=" " />
                <span class="bar"></span>
                <label asp-for="Type">Type</label>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Price" type="text" placeholder=" " />
                <span class="bar"></span>
                <label asp-for="Price">Price</label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
             <div class="group">
                <label asp-for="MechanicId" class="select-label">Select a mechanic</label>
                <select asp-for="MechanicId" asp-items="ViewBag.MechanicId"></select>
                <span class="bar"></span>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="form-group">
                    <input type="submit" value="Submit" class="btn button-submit w-100" />
                     </div>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn button-view w-100">View All</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
